body {
    margin: 0;
    font-family: 'Martel Sans', sans-serif;
    font-size: 1vw;
    background-color: white;
}

.grid-container {
    display: grid;
    max-width: 100%;
    grid-template-areas: 'empty menuleft tittle tittle menuright' 'logo logo logo logo logo' 'main main main main main' 'shop shop shop shop shop' 'bill bill bill bill bill' 'pic pic pic pic pic' 'about about about about about' 'footer footer footer footer footer' 'contact1 contact2 contact3 contact4 contact5' 'copy copy copy copy copy';
}

.item0 {
    grid-area: empty;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.item1 {
    grid-area: menuleft;
    padding-top: 3%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.item1 ul li {
    list-style-type: none;
    display: inline;
    padding-right: 2%;
}

.item1 a {
    position: relative;
    text-decoration: none;
    color: black;
}

.item1 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.item1 a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.item2 {
    grid-area: tittle;
    font-family: 'Petit Formal Script', cursive;
    padding-left: 15%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.item2 a {
    text-decoration: none;
    color: black;
}

.item3 {
    grid-area: menuright;
    padding-top: 3%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.item3 ul li {
    list-style-type: none;
    display: inline;
}

.item3 ul li :nth-child(1) {
    padding-right: 3%;
}

.item3 a {
    text-decoration: none;
    color: black;
}

.item4 {
    grid-area: logo;
    background-color: #f3f3f3;
    background-image: url(images/top-banner.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 45%;
}

.logotext {
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.item5 {
    grid-area: main;
    text-align: center;
}

.subtittle {
    margin-top: 5%;
}

.maintittle {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2vw;
}

.main img {
    float: right;
    margin: 0% 5% 0% 5%;
}

.maincontent {
    margin: 5% 5% 0% 5%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.item6 {
    grid-area: shop;
    text-align: center;
}

#item6 {
    display: block;
}

.item7 {
    grid-area: pic;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/event-banner.jpg);
    background-attachment: fixed;
    text-align: center;
}

#itm7tittle {
    margin: 10% 0 10% 0;
    color: white;
}

.item8 {
    grid-area: about;
    text-align: center;
}

.about {
    font-family: 'Raleway', sans-serif;
}

.item9 {
    grid-area: footer;
    margin-top: 5%;
    margin-left: 4%;
}

.item10 {
    grid-area: contact1;
    width: 19vw;
}

.item11 {
    grid-area: contact2;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 19vw;
    border-right: 1px solid gray;
    margin: 5% 0 5% 0;
}

#contact a {
    color: black;
    padding-right: 5%;
}

.item12 {
    grid-area: contact3;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 19vw;
    border-right: 1px solid gray;
    margin: 5% 0 5% 0;
}

.item13 {
    grid-area: contact4;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 19vw;
    margin: 5% 0 5% 0;
}

.item14 {
    grid-area: contact5;
    width: 19vw;
}

.item15 {
    grid-area: copy;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid grey;
    padding-top: 1%;
}

#item16 {
    grid-area: shop;
    display: none;
    text-align: center;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}

.product {
    max-width: 20%;
}

.product img {
    width: 70%;
}

.product img:hover {
    transform: scale(1.2);
}

.basePrice, .productQuantity, .price {
    margin-bottom: 5%;
    
}

#button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 10px;
}
#cartButton {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1%;
    cursor: pointer;
    border-radius: 10px;
}

input {
    width: 40%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 2560px) {
    .main img {
        width: 50%;
    }
    .item9 img {
        width: 19%;
    }
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 2vw;
    }
    .item11 {
        font-size: 1.5vw;
    }
    .item12 {
        font-size: 1.5vw;
    }
    .item13 {
        font-size: 1.5vw;
    }
    .grid-container {
        grid-template-areas: 'menuleft menuleft tittle tittle menuright' 'logo logo logo logo logo' 'main main main main main' 'shop shop shop shop shop' 'pic pic pic pic pic' 'about about about about about' 'footer footer footer footer footer' 'contact1 contact2 contact3 contact4 contact5' 'copy copy copy copy copy';
    }
    .product, #button {
        font-size: 1vw;
    }
}